## How to get your own Hugging Face API key (token)

Hugging Face "API keys" are called "User Access tokens".  

You can create your own User Access Tokens here: [Access Tokens](https://huggingface.co/settings/tokens).

#### Save your user access tokens to environment variables
To save your access token securely on your own machine:
- Create a `.env` file in the root directory of your project.
- Edit the file to contain the following:  

`HF_API_KEY='your_HF_API_KEY_here' replace that string with your user access token.  

- Save the .env file.
- Install Python-dotenv `pip install python-dotenv`

